body {
    min-width: 15rem;
    margin: 0;
    background: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

p.error {
    color: red;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #333;
    padding: .5rem;
    border: 2px solid #333;
    width: 100px;
    cursor: pointer;
}

    button:hover {
        background-color: rgb(255, 143, 143);
    }

button.link {
    display: inline;
    background: none;
    border: none;
    font-size: 11pt;
    text-align: left;
    width: auto;
}

    button.link:hover {
        text-decoration: underline;
    }

button.disabled {
    background: rgb(170, 170, 170);
    cursor: initial;
}

a.link {
    color: black;
    text-decoration: none;
}

    a.link:hover {
        text-decoration: underline;
    }

@import './wrapper.css';
@import './itemComponent.css';
@import './newItem.css';
@import './login.css';
@import './title.css';
@import './settings.css';
@import './account.css';
@import './deleteAccount.css';
@import './return.css';
@import './reset.css';
@import './toggle.css';
@import './itemControls.css';
