div.login-page-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
 }

 div.login-backdrop {
     top: 5rem;
     padding: 1rem;
     margin-bottom: 1.250rem;
     text-align: center;
     background: #ddd5d5;
     width: 15.625rem;
     box-shadow: 0 0.125rem 0.625rem grey;
 }

     .login-backdrop > input {
         width: 95%;
         margin: 0.125rem;
         height: 1.250rem;
         margin-bottom: 0.75rem;
     }

     .login-backdrop > button {
         width: 95%;
         border-radius: 5px;
         margin: 0.250rem;
     }

     .login-backdrop > p.error {
         margin: 0.125rem;
     }

     .login-backdrop > h4 {
         margin: 0.250rem;
         text-align: left;
     }
