.release-notes {
    width: 100%;
    text-align: left;
    padding: 2rem;
    box-sizing: border-box;
}

    .release-notes > h2 {
        margin: 0;
    }

    .release-notes > h3 {
        margin: 0;
    }

    .release-notes > p {
        text-justify: inter-word;
    }
