
div.new {
    width: 65%;
}

div.new > input {
    border: 0;
    padding: 1rem;
    width: 80%;
    display: block;
    background: rgb(249, 251, 255);
}

div.new > input:focus {
    outline: none;
}

div.new .btn-add {
    border-radius: 2px;
}
